force-app/main/default/flows/Create_Benefits_and_Filters.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>52.0</apiVersion>
    <assignments>
        <name>Set_New_Rebate_Type</name>
        <label>Set New Rebate Type</label>
        <locationX>881</locationX>
        <locationY>182</locationY>
        <assignmentItems>
            <assignToReference>Get_Benefit.ProgramRebateTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>NewRebateType</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Benefit.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Benefit</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_New_Rebate_Type_0</name>
        <label>Set New Rebate Type</label>
        <locationX>1110</locationX>
        <locationY>546</locationY>
        <assignmentItems>
            <assignToReference>Get_Filter.ProgramRebateTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>NewRebateType</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Filter.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Filter</targetReference>
        </connector>
    </assignments>
    <interviewLabel>Create Benefits and Filters {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Create Benefits and Filters</label>
    <loops>
        <name>Loop_All_Benefits</name>
        <label>Loop All Benefits</label>
        <locationX>453</locationX>
        <locationY>357</locationY>
        <collectionReference>Get_All_Benefits</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Get_Benefit</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Get_All_Filters</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_All_Filters</name>
        <label>Loop All Filters</label>
        <locationX>624</locationX>
        <locationY>551</locationY>
        <collectionReference>Get_All_Filters</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Get_Filter</targetReference>
        </nextValueConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Benefit</name>
        <label>Create Benefit</label>
        <locationX>996</locationX>
        <locationY>399</locationY>
        <connector>
            <targetReference>Loop_All_Benefits</targetReference>
        </connector>
        <inputReference>Get_Benefit</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Create_Filter</name>
        <label>Create Filter</label>
        <locationX>919</locationX>
        <locationY>690</locationY>
        <connector>
            <targetReference>Loop_All_Filters</targetReference>
        </connector>
        <inputReference>Get_Filter</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_All_Benefits</name>
        <label>Get All Benefits</label>
        <locationX>250</locationX>
        <locationY>287</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_All_Benefits</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ProgramRebateTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>SrcRebateType</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>ProgramRebateTypeBenefit</object>
        <queriedFields>Id</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_All_Filters</name>
        <label>Get All Filters</label>
        <locationX>453</locationX>
        <locationY>542</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_All_Filters</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ProgramRebateTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>SrcRebateType</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>ProgramRebateTypeFilter</object>
        <queriedFields>Id</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Benefit</name>
        <label>Get Benefit</label>
        <locationX>656</locationX>
        <locationY>195</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Set_New_Rebate_Type</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Loop_All_Benefits.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>ProgramRebateTypeBenefit</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Filter</name>
        <label>Get Filter</label>
        <locationX>865</locationX>
        <locationY>522</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Set_New_Rebate_Type_0</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Loop_All_Filters.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>ProgramRebateTypeFilter</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Get_All_Benefits</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>NewRebateType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>SrcRebateType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
